.logopcu{
    height: 50px;
    width: 200px;
    margin-left: 15px;
}

#profileUserImg{
    height: 25px;
    width: 25px;
}

#logoutImg{
    height: 25px;
    width: 25px;
}

.mynav>li>a {
    color: #0B6977;
    font-weight: 500;
    font-size: 20px;
    position: relative;
}

.mynav>li>a::before{
    content: "";
    position: absolute;
    top: 110%;
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    background-color: #0B6977;
    transition: width 0.3s ease;
}

.mynav>li>a:hover::before {
    width: 100%; 
}

.mynav>li>a:hover {
    font-weight: 500;
    font-size: 23px;
}

.mynav .nav-link {
    margin-right: 10px; /* Adjust the margin as needed */
  }