.wrapper{
    background: #0B6977;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0 auto;
}

.content-login{
    width: 990px;
    height: 550px;
    box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 10px 0px 10px;
}

.side-image{
    /* background-color: #2E97A7; */
    background-position: center;
    border-radius: 10px 0 0 10px;
    background-image: linear-gradient(45deg, #3e32a8, #e310c7);
    position: relative;
    /* background-image: url("Asset/image/pcu_logo2.jpg"); */
}

.img-left{
    position: absolute;
    top: 250px;
    right: 0;
    margin-right: 20px;
    width: 300px;
    height: 110px;
}

.img-right{
    position:absolute;
    top: 20px;
    left: 20px;
    height: 70px;
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: white;
    border-radius: 0px 10px 10px 0px;
    position: relative;
}

.text-image{
    color: whitesmoke;
    text-transform: uppercase;
    display: flex;
    justify-content: end;
    padding: 20px;
    margin-top: 30px;
}


.btn.btn-outline-ocean {
    color: #fff; 
    background-color: #0B6977; 
    border: 3px solid #0B6977; 
    padding: 8px 16px; 
    font-weight: 500;
    border-radius: 5px; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 16px; 
    text-align: center; 
    cursor: pointer; 
    transition: background-color 0.3s, color 0.3s, border-color 0.3s; 
    }

.btn.btn-outline-ocean:hover {
    color: #0B6977; 
    background-color: #fff; 
    border-color: #0B6977; 
}