.btn.btn-warning:hover{
   background-color: whitesmoke;
   border: 1px solid #FFD600;
}

/*HOME ADMIN*/
h1{
    color: #FFF;
    text-align: center;
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/*kotak putih unk ALL HOME*/
#content{
    display: flex;
    flex-direction: col;
    background-color: white;
    border-radius: 50px;
    padding: 30px;
    justify-content: center;
    width: fit-content;
    height: fit-content;
}

/*kotak kuning besat ALL HOME --> tmbah berita acara riwayat sidang, atur bobot, berita acara*/
.col-md-3{
    display: inline-block;
    width: 100%;
    height: 100%;
    max-width: 400px;
    max-height: 700px;
    background-color:#FFD600B2;
    border: 1px solid #ddd;
    border-radius: 15px;
    position: relative;
    font-size: 30px;
    font-weight: bold;
    color: white;
    text-align: center;
    text-shadow: 2px 2px darkblue ;
    margin: auto;
}

.col-md-3:hover{
    background-color:white;
    color: #FFD600;
    text-shadow: 2px 2px black ;
    border-color: #FFD600;
    border-width: 3px;
}

/*kotak kuning menu vakasi & data msh*/
.row-sm-4{
    display: inline-block;
    width: 100%;
    height: 45%;
    background-color:#FFD600B2;
    border: 1px solid #ddd;
    border-radius: 15px;
    position: relative;
    font-size: 30px;
    font-weight: bold;
    color: white;
    text-align: center;
    text-shadow: 2px 2px grey ; 
}

.row-sm-4:hover{
    background-color:white;
    color: #FFD600;
    text-shadow: 2px 2px black ;
    border-color: #FFD600;
    border-width: 3px;
}

/* setting div vakasi & data mhs*/
#vakasi, #datamhs{
    margin-bottom: 15px;
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

#title_bobot, #title_berita{
    padding-top: 5px;
}

/* setting gambar percen*/
#percent{
    max-width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* setting gambar berita acara*/
#news{
    max-width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
