/*LOGIN*/
h3{
    text-align: center;
}

.title{
    text-align: center;
}

.login-form{
    max-width: 400px;
    background-color:white;
    border: 1px solid #ddd;
    border-radius: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    padding: 20px;
}

#InputEmail1{
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px 0 0 8px;
}

#InputPassword1{
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px 0 0 8px;
}

#emailaddrss{
    flex-wrap: wrap;
}

.button_login{
    display: flex;
    justify-content: center;
    align-items: center;
}

#login{
    width: 80px;
}

.btn.btn-warning:hover{
   background-color: whitesmoke;
   border: 1px solid #FFD600;
}


/*setting tombol drop down*/
.dropdown{
    width: 100%;
    max-width: 330px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -30%);
}

.btn.dropdown-toggle{
    background-color:#ddd;
    color: black;
    width: 100%;
    max-width: 330px;
    text-align: left;
    text-align: center;
}
.btn.dropdown-toggle:hover{
    background-color:grey;
    color: white;
}



/*HOME ADMIN*/
h1{
    color: white;
    text-align: center;
    padding: 45px 0 20px 0;
}

/*kotak putih unk ALL HOME*/
#content{
    display: flex;
    flex-direction: col;
    background-color: white;
    border-radius: 50px;
    padding: 30px;
    justify-content: center;
    width: fit-content;
    height: fit-content;
    
}

/*kotak kuning besat ALL HOME --> tmbah berita acara riwayat sidang, atur bobot, berita acara*/
.col-md-3{
    display: inline-block;
    width: 100%;
    height: 100%;
    max-width: 400px;
    max-height: 700px;
    background-color:#FFD600B2;
    border: 1px solid #ddd;
    border-radius: 15px;
    position: relative;
    font-size: 30px;
    font-weight: bold;
    color: white;
    text-align: center;
    text-shadow: 2px 2px darkblue ;
    margin: auto;
}

.col-md-3:hover{
    background-color:white;
    color: #FFD600;
    text-shadow: 2px 2px black ;
    border-color: #FFD600;
    border-width: 3px;
}

/*kotak kuning menu vakasi & data msh*/
.row-sm-4{
    display: inline-block;
    width: 100%;
    height: 45%;
    background-color:#FFD600B2;
    border: 1px solid #ddd;
    border-radius: 15px;
    position: relative;
    font-size: 30px;
    font-weight: bold;
    color: white;
    text-align: center;
    text-shadow: 2px 2px grey ; 
}

.row-sm-4:hover{
    background-color:white;
    color: #FFD600;
    text-shadow: 2px 2px black ;
    border-color: #FFD600;
    border-width: 3px;
}

/* setting div vakasi & data mhs*/
#vakasi, #datamhs{
    margin-bottom: 15px;
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

#title_bobot, #title_berita{
    padding-top: 5px;
}

/* setting gambar percen*/
#percent{
    max-width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* setting gambar berita acara*/
#news{
    max-width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}


/*TAMBAH BERITA ACARA*/

#content_BA{
    display : flex;
    flex-direction : row;
    max-height: 900px;
    height: 100%;
    width: 100%;
    background-color: white;
    border-radius:50px;
    position: relative;
    padding: 20px 10px;
}

h5{
    text-align: center;
}

#nrp, #nama, #judul, #tanggal, #konsen, #nilai1, #nilai2, #nilai3{
    border-radius: 8px;
} 

/*kontainer isi*/
.col-md-6{
    padding: 10px 30px;
    margin: 0 10px;
}

/*label*/
.col-sm-4{
    display: flex;
    justify-content: center;
    align-items: center;
}

/*tempat input*/
.col-md-6 input{
    background-color: #ddd;
}

/*div input*/
.col-sm-8{
    padding:10px;
    width: 100%;
}

#cmpk_title , #hasil{
    padding: 5px;
}

.col-sm-2 input{
    margin: 5px;
    max-width: 50px;
}

/*ilangin arrow atas bawah unk input number*/
input[type="number"]{
    -moz-appearance: textfield;
    outline: none;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button{
    -webkit-appearance: none;
    
}

#keterangan{
    width: 100%;
    max-width: 580px;
    text-align: center;
}

#kiri label{
    width: 100%;
}

#nilaicpmk td{
    width: 20px;
}

/* supaya dropdown width besar */
.btn-group{ 
    width: 100%;
}

/*setting tabel nilai*/
#tabel_cpl input{
    background-color: white;
    border-color: white;
    width: 35px;
    text-align: center ;
}

#tabel_cpl{
    text-align: center ;
}


/*div button*/
#button_op{
    display: flex;
    justify-content: right;
    margin:30px 0 0 0;
}

#discard, #add{
    margin:0 30px; 
    width: 100px;
}