h1{
    color: #FFF;
    text-align: center;
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#content{
    display: flex;
    flex-direction: row;
    background-color: white;
    border-radius: 50px;
    padding: 20px;
    /* justify-content: center;
    align-items: center; */
    width: 1150px;
    height: fit-content;
    box-sizing: border-box;
    margin-top: 30px;
    /* border: 5px solid black; */
}

#content div{
    margin: 10px;
    text-align: center;
    flex: 1;
    background-color: #FFD600B2;
    padding: 10px;
    border-radius: 15px;
    line-height: normal;
    text-shadow: 2px 2px grey;
    font-size: 30px;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
}

#content div.vakasi-data-mahasiswa {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    background-color: white;
}

.vakasi-data-mahasiswa #vakasi{
    width: 100%;
    height: 100%;
    margin-top: 0px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex: 1;
}

.vakasi-data-mahasiswa #data-mahasiswa{
    width: 100%;
    height: 100%;
    margin-bottom: 0px;
    justify-content: center;
    align-items: center;
    display: flex;
}

#content div:not(.vakasi-data-mahasiswa):hover{
    background-color:white;
    color: #FFD600;
    border: 1px solid #ddd;
    text-shadow: 2px 2px black ;
    border-color: #FFD600;
    border-width: 3px;
}


