.container-satu{
    width: 1000px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
}

.kolom-utama{
    flex: 4;
    order: 2;
}

.sidebar-satu{
    flex: 1;
    order: 1;
}

.sidebar-dua{
    flex: 2;
    order: 3;
}

.container-dua{
    border: 5px solid pink;
    width: 500px;
    height: 400px;
    margin: auto;
    display: flex;
}

.kotak{
    background-color: maroon;
    width: 100px;
    height: 100px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

